body {
  font: 100% system-ui;
  background-color: white;
  color: #1c1e21;
  cursor: default;
  margin:0px;
}

h1 {
  text-align: center;
}

input {
  width: 40px;
}

.header-div {
  overflow: hidden;
  background-color: white;
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.2);
  align-items:center
}

.header-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header-li {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.title {
  font-size: x-large;
}

.input-div {
  display: inline;
  width: 100px;
}

.holidays-div {
  background-color: #FFEEBB;
  text-align: center;
  cursor: pointer;
  width: 127px;
  border-radius: 5px;
  padding: 2px;
}

.holidays-content-div {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}

.holidays-div:hover .holidays-content-div {
  display: block;
}

.holidays-button-div {
  cursor:pointer;
}

.holidays-button-selected {
  background-color: #FFEEBB;
}

.holiday {
  background-color: #FFEEBB;
}

.main-div {
  overflow: auto;
  white-space: nowrap;
}

.month-div {
  font-size: medium;
  max-width: 280px;
  display: inline-block;
}

.month-ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.month-name-div {
  font-size: large;
  text-align: center;
  margin: 5px;
}

.first-day {
  grid-column-start: 3;
}

.day-name {
  background-color: #EFEFEF;
  color:#1c1e21;
  opacity: 0.8;
}

.annual-div {
  padding: 8px;
}

.day {
  cursor: pointer;
  padding: 1px;
  border: 1px solid transparent;
}
.day:hover {
  border: 1px solid #d0d0d0;
}

.time-off {
  background: #52caff87;
}

.chart-div {
  padding-left: 8px;
  padding-right: 8px;
  height: 350px;
}
canvas{
}
