{% extends 'base.html' %}
{% block content %}
<div class="header-div">
  <ul class="header-ul">
    <li class="header-li title">{{year}}
      Days Off Planner</li>
    <li class="header-li" style="float:right">
      <div class="holidays-div">
        <div onclick="toggleHolidayList()">Holidays</div>
        <div id="holidays-content-div-id" class="holidays-content-div">
          {% for name, date in holidays.items() %}
          <div id="holiday-{{date.iso}}" class="holidays-button-div"
            onclick=toggleHoliday("{{date.iso}}")>{{name}}</div>
          {% endfor %}
        </div>
      </div>
    </li>
    <li class="header-li" style="float:right">
      <div id="input-div">
        Time Off Balance Today (hrs): <input id="starting-balance" type="number"
          step="any"
          value="0.0"
          onchange="reloadGraph()"/>
      </div>
    </li>
    <li class="header-li" style="float:right">
      <div id="input-div">
        Time Off per 2 Weeks (hrs): <input id="timeoff-rate" type="number"
          step="any"
          value="4.5"
          onchange="reloadGraph()"/>
      </div>
    </li>
  </ul>
</div>

<div class="non-header-div">
  <div class="annual-div" onload="loadFromCookies()">
    {% for month in months %}
    <div class="month-div">
      <div class="month-name-div">{{ month.name }} {{ month.year }}</div>
      <ol class="month-ol">
        <li class="day-name">Sun</li>
        <li class="day-name">Mon</li>
        <li class="day-name">Tue</li>
        <li class="day-name">Wed</li>
        <li class="day-name">Thu</li>
        <li class="day-name">Fri</li>
        <li class="day-name">Sat</li>

        {% for date in month.days %}
        {% if date.iso < today.iso %}
        <li class="day past" id={{date.iso}} style="grid-column-start:{{ date.weekday }};">
          {{date.monthday}}
        </li>
        {% else %}
        <li class="day" id={{date.iso}} style="grid-column-start:{{ date.weekday }};"
          onclick="toggleDay('{{date.iso}}')">
          {{date.monthday}}
        </li>
        {% endif %}
        {% endfor %}
      </ol>
    </div>
    {% endfor %}
  </div>
  <div class="chart-div"><canvas id="chart"></canvas></div>
</div>
{% endblock %}