<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Days Off</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')
      }}">
    <link rel="icon" href="{{ url_for('static', filename='png/icon.png')
      }}">

    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@4.1.1"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript"> var infolinks_pid = 3384269; var infolinks_wsid = 0; </script>
    <script type="text/javascript"
      src="//resources.infolinks.com/js/infolinks_main.js"></script>
    <script async
      src="https://www.googletagmanager.com/gtag/js?id=G-MQ6LHSXX1Y"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MQ6LHSXX1Y');
    </script>
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>